.custom_btn{
background-color:var(--main-color) !important;
font-size: 14px !important;
font-weight: 500 !important;
border:0 !important;
border-radius: 50px !important;
padding: 1px 16px !important;  /*adjust size button width*/
min-width: 50px !important;
}


.custom_btn .btn_icon_container{
color:#000 !important;
background-color: #fff !important;
border-radius: 10px !important;
height: 20px !important;
width: 27px !important;
line-height: 30px !important;
text-align: center;
display: flex !important;
align-items:center !important;
justify-content: center !important;
}

.custom_btn .btn_icon_container>.MuiSvgIcon-root{
    font-size: 15px !important; 
    width:20px;       /*icon size*/
}


.btn_container  .MuiButton-label .btn_text1 {
    font-size: 14px !important;
    text-transform: none !important;
    text-align: center !important;
    width: 90% !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
    
}

