.timeline{
    padding:0
}


.timeline .timeline_header{
    padding-top:7px;
}


.timeline .timeline_firstItem{
    min-height: 80px;
}


.timeline .MuiTimelineContent-root{
    min-height: 0px;
}

.timeline .MuiTimelineItem-missingOppositeContent:before{
    display: none; 
  }


.timeline .timeline_dot_header {

    color:black;
    background-color:var(--main-color);
    font-size: small;
    padding: 12px;
} 


/*Remaining items* no use */
.timeline .timeline_dot{
    color:black;
    background-color:var(--main-color);
    padding:1000px;
}



.timeline .MuiTimelineConnector-root{
    background-color:#eee;
}

.timeline  .timeline_dot_header .MuiSvgIcon-root {
font-size: 20px;
color:darkslategray;

}


